.CustomScroll__wrapper{
	border: 0px solid;
	width: 40px;
	box-sizing: border-box;

	position: absolute;
	right: 0;
	top: 0;

	border: 1px solid grey;
	overflow: hidden;

}



.CustomScroll__scroll-cursor{
	position: absolute;
	left: 0;
	border: 1px solid red;
	width: 100%;
	box-sizing: border-box;

	&--dragged{
		background: green;
	}
}

