.uprise{}
.uprise--up{}
.uprise--delay1{}
.uprise--hidden{}


[class*='uprise']{
	transition: 1s;
	transition-delay: .1s;
	position: relative;
	//display: block;
	opacity: 0;
/* 
	&[class*='--up']{
		transform: translateY(-50px);
	}
	&[class*='--down']{
		transform: translateY(200px);
	}
	&[class*='--left']{
		transform: translateX(-100px);
	}
	&[class*='--right']{
		transform: translateX(100px);
	}

	
	&.uprise--hidden{
		opacity: 0 ;
	} */


}	